


<div></div>

<div class="row" style="margin:0px;padding:0px;">

  <div class="col-md-12" style="margin:0px;padding:0px;">

  <div class="w3-panel w3-round-small w3-teal" style="margin:0px;padding:0px;">

  <div class="col-md-4">
   
  </div>
  <div class="col-md-4"><h3 style="text-align:center">Messages</h3>
  </div>
  <div class="col-md-4">
      <!-- <a routerLink="/dashboard/testlist" class="w3-button w3-green custom-button" style="float:right;"><i class="w3-medium fa fa-chevron-left"> Back</i></a> -->
  </div>
  
  </div>
</div>
</div>

<div class="row">

  <div class="col-md-12">

      <table class="table table-hover" style="background-color: #fff;border:1px solid black;">
        
        <thead>
        
          <tr style="border:1px solid black;">
            <th class="border_class success header_class"><i class="w3-small custom-icon fa fa-ravelry"></i>Sr. No.</th>
            <!-- <th class="border_class success header_class"><i class="w3-small custom-icon fa fa-user"></i> NP-no</th> -->
            <th class="border_class success header_class"><i class="w3-small custom-icon fa fa-hospital-o"></i>Referring Hosp.Patient Id</th>
            <th class="border_class success header_class"><i class="w3-small custom-icon fa fa-user"></i>Name</th>

            <th class="border_class success header_class"><i class="w3-medium custom-icon fa fa-comment-o"></i>Messages</th>
            <th class="border_class success header_class"><i class="w3-medium custom-icon fa fa-calendar-o"></i>Date</th>
            <th class="border_class success header_class"><i class="w3-medium custom-icon fa fa-pencil"></i>Read And Reply</th>
          
          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let message of messages,let i = index" [ngClass] = "{'my-class1' : message.read_flag == 0}">
            
            <td>{{i+1}}</td>
            <!-- <td>{{message.np_num}}</td> -->
            <td>{{message.hosp_ref_no}}</td>
            <td>{{message.pat_name}}</td>
            <td>{{message.notification_msg}}</td>
            <td>{{message.created_at}}</td>
            <td><button type="button" (click)="send_message(message.sample_id,message.notification_id,message.np_num)" title="write message" class="btn btn-primary">Read Message</button></td>

          </tr>
        </tbody>
         
        </table>
  </div>
</div>
