<div  class="panel" style="padding:0px;margin-bottom:0px;background-color: #f4e3fa;">
  <h4 class="panel-heading" style="text-align:center;padding-top:5px;padding-bottom:5px;margin-top:3px;margin-bottom:3px;" >
   <a class="w3-bar-item"><img src="assets/img/NIMHANS-logo.jpg" class="logo" style="width:80px;"></a>
  <b>AUTOIMMUNE LABORATORY</b><br>
  <!-- <p>Neurobiology Research Centre</p> -->
  <b>NATIONAL INSTITUTE OF MENTAL HEALTH AND NEUROSCIENCES</b>
  <!-- <b>Bangalore- 560029</b><br> -->
  <!-- <b>AUTOIMMUNE NEUROLOGY LAB</b> -->
 </h4>
 </div>