<div  class="panel panel-success">
  <h3 class="panel-heading" style="text-align:center;">
   <a class="w3-bar-item"><img src="assets/img/NIMHANS-logo.jpg" class="logo" style="width:80px;"></a>
  <b>NATIONAL INSTITUTE OF MENTAL HEALTH AND NEUROSCIENCES</b>
  <a class="w3-bar-item w3-button" (click)="logOut()" style="float:right;margin-top:20px;"><i class="w3-medium fa fa-sign-out"></i><span style="font-size:12px;">Logout</span></a>
 </h3>
 <!-- <ul id="menu" style="text-align:right;padding-right:10px;">
   <li><a (click)="userDoc(1)">UserManual</a></li>
   <li><a (click)="userDoc(2)">PriceList</a></li>
  </ul> -->
  

  <!-- <div class="dropdown" style="float:right;padding-right:30px;">
    <button class="dropbtn btn btn-warning">Price List</button>
    <div class="dropdown-content">
      <a (click)="priceDoc(1)">Neuropathology</a>
      <a (click)="priceDoc(2)">Auto Immune Lab</a>
      
    </div>
  </div> -->

  <!-- <div class="dropdown" style="float:right;padding-right:30px;">
    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Price List</button>
    <ul class="dropdown-menu">
      <li><a  (click)="priceDoc(1)">Neuropathology</a></li>
      <li><a  (click)="priceDoc(2)" >Auto Immune Lab</a></li>
      
    </ul>		
  </div> -->

  <!-- <div class="dropdown" style="float:right;padding-right:5px;">
    <button class="dropbtn btn btn-danger">User Manual</button>
    <div class="dropdown-content">
      <a (click)="userDoc(1)">Neuropathology</a>
      <a (click)="userDoc(2)">AU lab</a>
      
    </div>
  </div> -->

  <!-- <div class="dropdown" style="float:right;padding-right:5px;">
    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">User Manual</button>
    <ul class="dropdown-menu">
      <li><a  (click)="userDoc(1)" >Neuropathology</a></li>
      <li><a  (click)="userDoc(2)" >Auto Immune Lab</a></li>
      <li><a  (click)="userDoc(3)" >Histopath_Clinicans handbook</a></li>
      
    </ul>		
  </div> -->


 
 
 </div>