<app-header3></app-header3>


<div class="col-md-12" style="text-align:center;">
<div class="col-md-12" style="text-align:center;background-color:white;padding-top:20px;padding-bottom:20px;margin: auto;">
    <div class="col-md-2">
        
    </div>

    <div class="col-md-4" style="background-color: #e6e6ff;margin-right:20px;border:4px solid #99c2ff;">
       
    <p  class="pointer" style="padding:5px;margin-top:10px;color:black;background-color:#b3d1ff"><a (click)="naviageteLab(1)"><span style="color:black;font-size:18px;font-weight:bold;">Neuropathology Laboratory</span></a></p>
    
    
    
    <div  style="text-align:center;">
        <!-- <p style="text-align:left;">Click on image </p> -->
        <span class="arrow"><span class="text_class"><b>Click here to raise request</b></span></span>
    <img class="pointer responsive" src="assets/img/np1.png" (click)="naviageteLab(1)"  /><br>
    

    </div>



    <div  class="col-md-4">
         <p class="pointer" style="padding:5px;border:2px solid #99c2ff;margin-top:20px;color:black;" (click)="userDoc(3)"><a (click)="userDoc(3)"><span style="color:black;font-size:15px;font-weight:bold; word-wrap: break-word;">Information on how to send samples</span></a></p>
    
            
    </div>

    <div class="col-md-4">
        <p class="pointer" style="padding:5px;border:2px solid #99c2ff;;margin-top:20px;color:black;"  (click)="priceDoc(1)"><a (click)="priceDoc(1)"><span style="color:black;font-size:15px;font-weight:bold; word-wrap: break-word;">Charges for tests </span></a></p>
   

        
    </div>

    <div  class="col-md-4">
            
        <p class="pointer" style="padding:5px;border:2px solid #99c2ff;margin-top:20px;color:black;"  (click)="userDoc(1)"><a (click)="userDoc(1)"><span style="color:black;font-size:15px;font-weight:bold;">Help?</span></a></p>
   
    </div>

    <div class="col-md-12" style="margin-top:30px;padding-left:0px;">
    <div  class="col-md-4" style="text-align:left;padding-left:0px;">
        
        <img src="assets/img/contact.png" width="130px" height="130px;" />
    
    </div>

    <div  class="col-md-8" style="text-align:left;">
        <p><a href="http://www.nimhans.ac.in/neuropathology"><span style="color:black;word-wrap: break-word;">http://www.nimhans.ac.in/neuropathology</span></a></p>
        <p><span style="color:black;word-wrap: break-word;">neuropathology2008@gmail.com</span></p>
        <p><span style="color:black;font-size:18px;"><b>080-26995130</b></span></p>
    
    </div>
    </div>



</div>
   
    
<div class="col-md-4" style="background-color: #f2e6ff;margin-right:20px;border:4px solid #8b6c93;">

    <p class="pointer" style="padding:5px;margin-top:10px;color:black;background-color:#df80ff;"><a (click)="naviageteLab(2)"><span style="color:black;font-size:18px;font-weight:bold;">Autoimmune Laboratory</span></a></p>
    <div style="text-align:center;">
        <span class="arrow"><span class="text_class"><b>Click here to raise request</b></span></span>
    <img class="pointer responsive" src="assets/img/au1.png"  (click)="naviageteLab(2)" />
    </div>
    <div  class="col-md-4">
        <p class="pointer" style="padding:5px;border:2px solid #925ba0;margin-top:20px;color:black;"  (click)="userDoc(4)"><a (click)="userDoc(4)"><span style="color:black;font-size:15px;font-weight:bold; word-wrap: break-word;">Information on how to send samples</span></a></p>
   
           
   </div>

   <div class="col-md-4">
        <p class="pointer" style="padding:5px;border:2px solid #925ba0;margin-top:20px;color:black;" (click)="priceDoc(2)"><a (click)="priceDoc(2)"><span style="color:black;font-size:15px;font-weight:bold; word-wrap: break-word;">Charges for tests</span></a></p>
  
   </div>

   <div  class="col-md-4">
           
    <p class="pointer" style="padding:5px;border:2px solid #925ba0;margin-top:20px;color:black;" (click)="userDoc(2)"><a (click)="userDoc(2)"><span style="color:black;font-size:15px;font-weight:bold;">Help?</span></a></p>
      
   </div>

    <div class="col-md-12" style="margin-top:30px;padding-left:0px;">
    <div  class="col-md-4" style="text-align:left;padding-left:0px;">
        <img src="assets/img/contact.png" width="130px" height="130px;" />
    
    </div>

    <div  class="col-md-8" style="text-align:left;">
        <p><a href="http://www.nimhans.ac.in/neuropathology"><span style="color:black;word-wrap: break-word;">http://www.nimhans.ac.in/neuropathology</span></a></p>
        <p><span style="color:black;word-wrap: break-word;">autoimmuneneurologylab@gmail.com</span></p>
        <p><span style="color:black;font-size:18px;"><b>080 26995094</b></span></p>
    
    </div>
    </div>



</div>
    <div class="col-md-2"  style="background-color:#f2f2f2;">
    </div>

</div>
</div>

<div class="col-md-12" style="text-align:center;">
    
<footer  style="text-align:center;margin-top:30px;"><p><i class="glyphicon glyphicon-copyright-mark"></i> NIMHANS 2020. Developed by E Health Research Center, IIIT-Bangalore</p></footer>
</div>


